<section class="hero">
	<div class="wrapper">
		<h1>Get more money&nbsp;<span class="sky_blue">out of your money</span></h1>
        <p class="discription">Open an eligible Citi<sup>&reg;</sup> high-yield online savings account today.</p>
        
        <div class="rate_info">
            <p class="interest-rate">1.75<sup>%</sup></p>
            <p class="details">annual percentage yield<sup><a href="#terms">1</a></sup></p>
			<p class="disclaimer">For the first year with qualifying activities as <br>
				<a href="#terms">described in the Terms and Conditions below</a>.<sup><a href="#terms">1</a></sup>
			 <br>
            Rate not available in all markets.<br>Offer expires 7/19/18.</p>
        </div>

		<div class="right-side">
			<ul class="icons">
				<li>No minimum opening deposit</li>
				<li>Our highest rate this year</li>
				<li>No limit on earnings</li>
			</ul>
		</div>

	</div>


</section>



<section class="blue">
	<div class="wrapper">
        <p>You’re moments away from saving&nbsp;more</p>
		
	<button onclick="javascript:window.open( '<%=pStartSavings.GetStringURL() %>', '_blank')" class="citi-button light-blue" >Start Saving</button>

	</div>
</section>
<section class="white">
	<div class="wrapper">
		<h2>What sets Citibank apart</h2>
		
		<ul class="icons">
			<li>
				<i class="sprite-icons icon-14x"><img src="../images/icon_1.png"></i>
				<h3 class="heading">14x National Average <span class="break-it"></span>Savings&nbsp;Rate<sup><a href="#foot_0">*</a></sup></h3>
				<p class="discription">Open a high-yield online savings account today and be guaranteed a rate that’s fourteen times higher than the national average savings&nbsp;rate.</p>
			</li>
            <li>
				<i class="sprite-icons icon-earn"><img src="../images/icon_2.png"></i>
				<h3 class="heading">You deserve <span class="break-it"></span>the&nbsp;best</h3>
				<p class="discription">Citibank strives to be the best. Just in the past year, we have been <strong>Ranked #1 in Customer Satisfaction by ACSI</strong><sup><a href="#foot_2">2</a></sup> and named as <strong>a Kiplinger’s Personal Finance: 2017 'Best Banks'</strong>.<sup><a href="#foot_3">3</a></sup></p>
			</li>
            <li>
				<i class="sprite-icons icon-network"><img src="../images/icon_3.png"></i>
				<h3 class="heading">60,000 ATMs across <span class="break-it"></span>the&nbsp;country</h3>
				<p class="discription">Access cash with the largest number of fee-free ATMs offered by any major&nbsp;bank.<sup><a href="#foot_4">4</a></sup></p>
			</li>
		</ul>
	</div>
</section>